# App
APP_PORT=8000

# Database
POSTGRES_DB=appdb
POSTGRES_USER=appuser
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Secret file paths
DB_PASSWORD_FILE=./secrets/db_password.txt
API_KEY_FILE=./secrets/api_key.txt
